
  {{#each comments}}
    <div class="comment" data-id={{id}}>
      <h4>{{trip.name}}</h4>
      <p>"{{comments}}"</p>
      <button type="click" id="delete-comment" data-id={{id}}>X</button>
      <button type="click" id="edit-comment" data-id={{id}}>edit</button>
    </div>
  {{/each}}
