<div class="trip-page">
  <h2>{{trip.name}}</h2>
  <p>{{trip.location}}</p>
  <p>Find More Info Here:{{url}}</p>
  <img src="{{trip.photo}}" alt="trip-photo" />
  <p>{{trip.comment.comments}}</p>
</div>
